@page "/browse"
@using System.Net.Http.Json
@using ServiceApp.Shared.Model
@using static MudBlazor.CategoryTypes
@inject ITransactionService TransactionService
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject TransactionInfo TransactionInfo
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Context="categoryCommandContext">
    <MudTable T="TransactionInfo" Items="@Transitions" Hover="true" SortLabel="Sort By" @ref="mudTable" RowClass="cursor-pointer" OnRowClick="RowClickEvent">
        <HeaderContent>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.TransactionID)">Transaction ID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.FirstName)">First Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" InitialDirection="SortDirection.Ascending" SortBy="new Func<TransactionInfo, object>(x=>x.LastName)">Last Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.TinNo)">Tin No</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.EmailAddress)">Email Address</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.Address)">Address</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.TotalFee)">Total Fee</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel style="font-weight: 700;" SortBy="new Func<TransactionInfo, object>(x=>x.TransactionDate)">Transaction Date</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate >
            <MudTd DataLabel="Nr">@context.TransactionID</MudTd>
            <MudTd DataLabel="Sign">@context.FirstName</MudTd>
            <MudTd DataLabel="Name">@context.LastName</MudTd>
            <MudTd DataLabel="Position">@context.TinNo</MudTd>
            <MudTd DataLabel="Molar mass">@context.EmailAddress</MudTd>
            <MudTd DataLabel="Molar mass">@context.Address</MudTd>
            <MudTd DataLabel="Molar mass">@string.Format("{0:C2}", context.TotalFee)</MudTd>
            <MudTd DataLabel="Molar mass">@context.TransactionDate</MudTd>
        </RowTemplate>
            <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
        </PagerContent>
    </MudTable>
    @*     <MudExpansionPanels Style="flex: 1;">
            <MudExpansionPanel Text="Show inline-clicked event log">
                @foreach (var message in clickedEvents)
            {
                <MudText>@message</MudText>
            }
            @if (clickedEvents.Count > 0)
            {
                <div class="d-flex">
                    <MudSpacer />
                    <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="@(() => clickedEvents.Clear())">Clear events</MudButton>
                </div>
            }
        </MudExpansionPanel>
    </MudExpansionPanels> *@
</AuthorizeView>






