@page "/summary"
@using ServiceApp.Client.Enum.StaticClass
@using ServiceApp.Shared.Enum
@using ServiceApp.Shared.Model
@using ServiceApp.Shared.Model.Services.ATMPortable
@using ServiceApp.Shared.Model.Services.Accounting
@using ServiceApp.Shared.Model.Services.Airline
@using ServiceApp.Shared.Model.Services.DFA
@using ServiceApp.Shared.Model.Services.Financial
@using ServiceApp.Shared.Model.Services.LTO
@using ServiceApp.Shared.Model.Services.Notary
@using ServiceApp.Shared.Model.Services.OtherServices
@using ServiceApp.Shared.Model.Services.PSA
@using ServiceApp.Shared.Model.Services.VISAProcessing
@inject ITransactionService TransactionService
@inject ClientInfo ClientInfo
@inject Accounting Accounting
@inject OtherServices OtherServices
@inject PSA PSAAssistance
@inject DFA DFAServices
@inject Notary Notary
@inject LTO LTOServices
@inject Airline AirlineServices
@inject VISAProcessing VISAProcessing
@inject Financial FinancialServices
@inject ATMPortable ATMPortable

<style>
    .pa-10 {
        padding: 20px !important;
    }
</style>
 <MudGrid Class="d-flex justify-center">
    <MudItem xs="12">
        <MudPaper Class="pa-10">
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudField Label="First Name" Variant="Variant.Filled">@ClientInfo.FirstName</MudField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                        <MudField Label="Last Name" Variant="Variant.Filled">@ClientInfo.LastName</MudField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                        <MudField Label="Tin Number" Variant="Variant.Filled">@ClientInfo.TinNo</MudField>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                        <MudField Label="Address" Variant="Variant.Filled">@ClientInfo.Address</MudField>
                </MudItem>
                    <MudTextField Disabled T="string" Label="Additional Information" Lines="3" Variant="Variant.Filled" Text="@ClientInfo.AdditionalInfo" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Api"></MudTextField>
            </MudGrid>
            <br>
             <div class="container  mt-4">
                 <MudText Typo="Typo.h5">Services</MudText>
                 <br>
             </div>
             <br>
                @if (Accounting.IsIncluded)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Accounting Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Accounting.FilingOfTaxes.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Filingoftaxes</td>
                                    @if (Accounting.FilingOfTaxes.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                        <td>@Accounting.FilingOfTaxes.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                        <td>@Accounting.FilingOfTaxes.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.BIRRegistration.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.BIRRegistration</td>
                                    @if (Accounting.BIRRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                        <td>@Accounting.BIRRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                        <td>@Accounting.BIRRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.ITRPreparation.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.ITRPreparation</td>
                                    @if (Accounting.ITRPreparation.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                        <td>@Accounting.ITRPreparation.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                        <td>@Accounting.ITRPreparation.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.DTIRegistration.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.DTIRegistration</td>
                                @if (Accounting.DTIRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.DTIRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.DTIRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.DTIRegistration.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.SECRegistration</td>
                                @if (Accounting.SECRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.SECRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.SECRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.DTIRegistration.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.BusinessPermit</td>
                                @if (Accounting.BusinessPermit.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.BusinessPermit.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.BusinessPermit.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.PagIbigRegistration.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.PagIbigRegistration</td>
                                @if (Accounting.PagIbigRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.PagIbigRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.PagIbigRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.SSSRegistration.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.SSSRegistration</td>
                                @if (Accounting.SSSRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.SSSRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.SSSRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.PhilhealthRegistration.IsIncluded)
                            {
                                <tr>
                                <td>@SubServices.PhilhealthRegistration</td>
                                @if (Accounting.PhilhealthRegistration.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.PhilhealthRegistration.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.PhilhealthRegistration.Fee</td>
                                    }
                                </tr>
                            }
                            @if (Accounting.PhilhealthRegistration.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.BookKeeping</td>
                                    @if (Accounting.Bookkeeping.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                    <td>@Accounting.Bookkeeping.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    <td>@Accounting.Bookkeeping.Fee</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (OtherServices.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Other Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (OtherServices.TransferofTitle.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.TransferofTitle</td>
                                    <td>@OtherServices.TransferofTitle.Fee</td>
                                        <td>-</td>
                                </tr>
                            }
                            @if (OtherServices.PCABAssistance.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.PCABAssistance</td>
                                    <td>@OtherServices.PCABAssistance.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (OtherServices.NBIAssistance.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.NBIAssistance</td>
                                    <td>@OtherServices.NBIAssistance.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (OtherServices.WeddingManagement.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Weddingmanagement</td>
                                    @if (OtherServices.WeddingManagement.OwnerType == OwnerType.SoleProprietorship)
                                    {
                                        <td>@OtherServices.WeddingManagement.Fee</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                        <td>@OtherServices.WeddingManagement.Fee</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (PSAAssistance.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">PSA Assistance Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (PSAAssistance.Cenomar.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Cenomar</td>
                                    <td>@PSAAssistance.Cenomar.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (PSAAssistance.BirthCertificate.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.BirthCertificate</td>
                                    <td>@PSAAssistance.BirthCertificate.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (PSAAssistance.MarriageCertificate.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.MarriageCertificate</td>
                                    <td>@PSAAssistance.MarriageCertificate.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (PSAAssistance.DeathCertificate.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.DeathCertificate</td>
                                    <td>@PSAAssistance.DeathCertificate.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (DFAServices.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">DFA Assistance</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (DFAServices.PassportAssistance.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.PassportAssistance</td>
                                    <td>
                                    @if (DFAServices.PassportAssistance.ProcessType == ProcessType.Regular)
                                    {
                                        <span>Regular: </span> @DFAServices.PassportAssistance.Fee
                                    }
                                    else
                                    {
                                        <span>Rush: </span> @DFAServices.PassportAssistance.Fee;
                                    }
                                </td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (DFAServices.LossPassport.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.LostPassport</td>
                                    <td>@DFAServices.LossPassport.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Notary.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Notary</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>@MainServices.NOTARY</td>
                                    <td>@Notary.Fee</td>
                                    <td>-</td>
                                </tr>
                        </tbody>
                    </table>
                }
                @if (LTOServices.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">LTO Assistance</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@SubServices.VehicleRegistration</td>
                                <td>@LTOServices.Registration.Fee</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (AirlineServices.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Airline Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (AirlineServices.Domestic.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Domestic</td>
                                    <td>@AirlineServices.Domestic.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (AirlineServices.International.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.International</td>
                                    <td>@AirlineServices.International.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (VISAProcessing.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">VISA Processing Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (VISAProcessing.USA.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.USA</td>
                                    <td>@VISAProcessing.USA.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.CanadaETA.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.CanadaETA</td>
                                    <td>@VISAProcessing.CanadaETA.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.CanadaRegular.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.CanadaRegualar</td>
                                    <td>@VISAProcessing.CanadaRegular.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.NewZealand.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.NewZealand</td>
                                    <td>@VISAProcessing.NewZealand.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.China.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.China</td>
                                    <td>@VISAProcessing.China.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.Japan.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Japan</td>
                                    <td>@VISAProcessing.Japan.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.Australia.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Australia</td>
                                    <td>@VISAProcessing.Australia.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.EuropeanCountries.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.EuropeanCountries</td>
                                    <td>@VISAProcessing.EuropeanCountries.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                            @if (VISAProcessing.SouthKorea.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.SouthKorea</td>
                                    <td>@VISAProcessing.SouthKorea.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (FinancialServices.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Financial Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@SubServices.GCASH</td>
                                <td>@FinancialServices.GCash.Fee</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (ATMPortable.IsIncluded)
                {
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ATM Portable Services</th>
                                <th scope="col">Sole Proprietorship</th>
                                <th scope="col">Corporate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ATMPortable.BankBalanceInquiry.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.BankBalanceInquiry</td>
                                    <td>@ATMPortable.BankBalanceInquiry.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        @if (ATMPortable.Withdrawal.IsIncluded)
                            {
                                <tr>
                                    <td>@SubServices.Withdrawal</td>
                                    <td>@ATMPortable.Withdrawal.Fee</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            <div class="container  mt-4 text-end">
                <button type="button" @onclick="SubmitData" class="btn btn-primary">Submit</button>
            </div><br>
        </MudPaper>
    </MudItem>
 </MudGrid>
 

