@page "/transact"
@using ServiceApp.Client.Enum.StaticClass
@using ServiceApp.Shared.Enum
@using ServiceApp.Shared.Model
@using ServiceApp.Shared.Model.Services.Accounting
@using ServiceApp.Shared.Model.Services.Accounting.SubServices
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject ClientInfo ClientInfo
@inject IAccounting Accounting

<style>
    .pa-10 {
        padding: 20px !important;
    }

    .mud-button-label{
        justify-content: start;
    }
</style>

<MudTabs Elevation="4" Rounded="true" Centered="false" Color="@Color.Primary" Class="container sm-10" @bind-ActivePanelIndex="@ActivePanel">
    <MudTabPanel Text="Services">
        <MudGrid Class="d-flex justify-center">
            <MudItem xs="12">
                <MudPaper Class="pa-10">
                    <div class="container  mt-4">
                        <MudText Typo="Typo.h5">Client Info</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus mauris id lorem finibus, non condimentum risus ultricies.</MudText>
                    </div>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="height: 2px" />
                    <div class="container  mt-4">
                        <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">Choose existing client</MudButton>
                    </div><br>
                    <form>
                        <div class="container">
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <MudTextField @bind-Value="ClientInfo.FirstName" Label="First Name" Variant="Variant.Text"></MudTextField><br>
                                    </div>
                                    <div data-mdb-input-init class="form-outline">
                                        <MudTextField @bind-Value="ClientInfo.LastName" Label="Last Name" Variant="Variant.Text"></MudTextField><br>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <MudTextField @bind-Value="ClientInfo.TinNo" Label="Tin Number" Variant="Variant.Text"></MudTextField><br>
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <MudTextField @bind-Value="ClientInfo.Address" Label="Address" Variant="Variant.Text"></MudTextField><br>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <MudTextField @ref="multilineReference" T="string" Label="Additional Information" Lines="3" TextChanged="OnValueChangeHandler" Variant="Variant.Outlined" Text="" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Api" OnAdornmentClick="@(() => multilineReference.SelectAsync())" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Class="pa-10">
                    <div class="container  mt-4">
                        <MudText Typo="Typo.h5">Services</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus mauris id lorem finibus, non condimentum risus ultricies.</MudText>
                    </div>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="height: 2px" /><br>
                        @foreach (string service in this.Services)
                        {
                            bool expanded = expandedStates.ContainsKey(service) ? expandedStates[service] : false;
                            <div class="container text-start">
                                <MudStack Spacing="2">
                                    <MudButton OnClick="() => OnExpandCollapseClick(service)">@(expanded ? $"Available services for {service}" : service)</MudButton>
                                    <MudDivider />
                                    <MudCollapse Expanded="expanded">
                                    @if (service == MainServices.Accounting)
                                    {
                                        <MudForm>
                                            <MudCheckBox T="bool" ValueChanged="(isCheck) => HandleCheck(isCheck, SubServices.Filingoftaxes)">@SubServices.Filingoftaxes</MudCheckBox>
                                                <MudForm Style="margin-left:35px;">
                                                    <MudText>Ownership Type:</MudText>
                                                <MudRadioGroup T="string" ValueChanged="(option) => OnSelectedOptionChanged(option, SubServices.Filingoftaxes)">
                                                    <MudRadio Value="@(OwnerType.SoleProprietorship.ToString())">@OwnerType.SoleProprietorship</MudRadio>
                                                        <MudRadio Value="@(OwnerType.Corporate.ToString())">@OwnerType.Corporate</MudRadio>
                                                    </MudRadioGroup>
                                                   <MudStack Row>
                                                     <MudText Class="align-self-center">Service Fee:</MudText>
                                                 <MudTextField @bind-Value="@Accounting.FilingOfTaxes.Fee" Label="Fee" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                                    </MudStack>
                                                 </MudForm>
                                                 <br>
                                         @* <MudCheckBox T="bool" Value="@Accounting.FilingOfTaxes.IsIncluded" ValueChanged="HandleCheck"></MudCheckBox>
                                         <MudForm Style="margin-left:35px;">
                                             <MudText>Ownership Type:</MudText>
                                             <MudRadioGroup T="string" ValueChanged="(option) => OnSelectedOptionChanged(option, SubServices.Filingoftaxes)">
                                                 <MudRadio Value="@(OwnerType.SoleProprietorship.ToString())">@OwnerType.SoleProprietorship</MudRadio>
                                                        <MudRadio Value="@(OwnerType.Corporate.ToString())">@OwnerType.Corporate</MudRadio>
                                                    </MudRadioGroup>
                                                    <MudStack Row>
                                                 <MudText Class="align-self-center">Service Fee:</MudText>
                                                 <MudTextField @bind-Value="@Accounting.FilingOfTaxes.Fee" Label="Fee" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                             </MudStack>
                                         </MudForm>
                                         <br>
                                         <MudCheckBox T="bool" Value="@Accounting.FilingOfTaxes.IsIncluded" ValueChanged="HandleCheck"></MudCheckBox>
                                         <MudForm Style="margin-left:35px;">
                                             <MudText>Ownership Type:</MudText>
                                             <MudRadioGroup T="string" ValueChanged="(option) => OnSelectedOptionChanged(option, SubServices.Filingoftaxes)">
                                                 <MudRadio Value="@(OwnerType.SoleProprietorship.ToString())">@OwnerType.SoleProprietorship</MudRadio>
                                                        <MudRadio Value="@(OwnerType.Corporate.ToString())">@OwnerType.Corporate</MudRadio>
                                                    </MudRadioGroup>
                                                    <MudStack Row>
                                                 <MudText Class="align-self-center">Service Fee:</MudText>
                                                 <MudTextField @bind-Value="@Accounting.FilingOfTaxes.Fee" Label="Fee" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                             </MudStack>
                                         </MudForm>
                                         <br>
                                         <MudCheckBox T="bool" Value="@Accounting.FilingOfTaxes.IsIncluded" ValueChanged="HandleCheck"></MudCheckBox>
                                         <MudForm Style="margin-left:35px;">
                                             <MudText>Ownership Type:</MudText>
                                             <MudRadioGroup T="string" ValueChanged="(option) => OnSelectedOptionChanged(option, SubServices.Filingoftaxes)">
                                                 <MudRadio Value="@(OwnerType.SoleProprietorship.ToString())">@OwnerType.SoleProprietorship</MudRadio>
                                                        <MudRadio Value="@(OwnerType.Corporate.ToString())">@OwnerType.Corporate</MudRadio>
                                                    </MudRadioGroup>
                                                    <MudStack Row>
                                                 <MudText Class="align-self-center">Service Fee:</MudText>
                                                 <MudTextField @bind-Value="@Accounting.FilingOfTaxes.Fee" Label="Fee" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                             </MudStack>
                                         </MudForm>
                                         <br>
                                         <MudCheckBox T="bool" Value="@Accounting.FilingOfTaxes.IsIncluded" ValueChanged="HandleCheck"></MudCheckBox>
                                         <MudForm Style="margin-left:35px;">
                                             <MudText>Ownership Type:</MudText>
                                             <MudRadioGroup T="string" ValueChanged="(option) => OnSelectedOptionChanged(option, SubServices.Filingoftaxes)">
                                                 <MudRadio Value="@(OwnerType.SoleProprietorship.ToString())">@OwnerType.SoleProprietorship</MudRadio>
                                                        <MudRadio Value="@(OwnerType.Corporate.ToString())">@OwnerType.Corporate</MudRadio>
                                                    </MudRadioGroup>
                                                    <MudStack Row>
                                                 <MudText Class="align-self-center">Service Fee:</MudText>
                                                 <MudTextField @bind-Value="@Accounting.FilingOfTaxes.Fee" Label="Fee" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                             </MudStack>
                                         </MudForm>
                                         <br> *@
                                     </MudForm>
                                    }
                                    else if (service == MainServices.OtherServices)
                                    {
                                        
                                    }
                                    else if (service == MainServices.PSA)
                                    {
                                        
                                    }
                                    else if (service == MainServices.DFA)
                                    {

                                    }
                                    else if (service == MainServices.NOTARY)
                                    {

                                    }
                                    else if (service == MainServices.LTO)
                                    {

                                    }
                                    else if (service == MainServices.Airline)
                                    {

                                    }
                                    else if (service == MainServices.VISA)
                                    {

                                    }
                                    else if (service == MainServices.Financial)
                                    {

                                    }
                                    else
                                    {

                                    }
                                </MudCollapse>
                                </MudStack>
                              </div>
                            <br>
                        }
                        <div class="container  mt-4 text-end">
                        <MudButton OnClick="@(()=>GoToTab(1))" Variant="Variant.Filled" Color="Color.Primary">Proceed</MudButton>
                        </div><br>
                    </MudPaper>
                </MudItem>
            </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Summary">
        <Summary></Summary>
    </MudTabPanel>
</MudTabs>
    


