@page "/"

<style>
    .p-custom{
        margin-top: 0 !important;
        margin-bottom: 0px !important;
    }
</style>
<AuthorizeView>
    <Authorized>
        <MudGrid Class="d-flex justify-center">
            <MudItem xs="12" sm="10">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-9">
                            <div class="row">
                                <div>
                                    <p class="p-custom" style="color:#7f7f7f">STATISTICS</p>
                                </div>
                                <div>
                                    <p class="p-custom" style="font-weight:bold;color:#0195b9">@ChartDate</p>
                                </div>
                                <MudDateRangePicker @ref="_picker" Label="With action buttons" @bind-DateRange="_dateRange" ImmediateText="true" Clearable="true" Editable="true" AutoClose="true">
                                     <PickerActions Context="pickerContext">
                                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                                        <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                                        <MudButton Color="Color.Primary">Ok</MudButton>
                                    </PickerActions>
                                </MudDateRangePicker>
                            </div>
                            @* Tue, 19 Dec 2023 - Fri, 19 Jan 2023 *@
                        </div>
                        <div class="col-3">
                            <div>
                                <MudSelect T="Chart" @bind-Value="chartValue" SelectedValuesChanged="InitializeDate" Margin="Margin.Dense" Class="input-custom" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                                    <MudSelectItem Value="@(new Chart("Custom"))" />
                                    <MudSelectItem Value="@(new Chart("Month"))" />
                                    <MudSelectItem Value="@(new Chart("Quarterly"))" />
                                    <MudSelectItem Value="@(new Chart("Annually"))" />
                                </MudSelect>
                            </div>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" sm="10">
              <div class="container">
                    <div class="row mb-4">
                        <div class="col">
                            <MudPaper>
                                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="550px" Height="550px" />
                            </MudPaper>
                        </div>
                        <div class="col">
                            <MudPaper Class="d-flex align-center mud-width-full">
                                <MudCardContent>
                                    <MudText>Summary</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                </MudCardContent>
                            </MudPaper>
                         </div>
                    </div>
               </div>
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

 