@page "/print"
@using System.Net.Http.Json
@using ServiceApp.Shared.Model
@using static MudBlazor.CategoryTypes
@inject ITransactionService TransactionService
@inject IPrintService PrintService
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject TransactionInfoContainer TransactionInfoContainer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<AuthorizeView Context="categoryCommandContext">

    <div>
        <h3>Client</h3>
        <h5>@TransactionInfoContainer.Value.FirstName</h5>
        <h5>@TransactionInfoContainer.Value.TinNo</h5>
        <h5>@TransactionInfoContainer.Value.EmailAddress</h5>
        <h5>@TransactionInfoContainer.Value.Address</h5>
    </div>
    <br>
    <div>
        <h3>Services</h3>
        @foreach (var item in ServicesInfo.Select(service => service.ServiceType).Distinct())
        {
        <table class="table">
            <thead>
                <tr>
                   <th>@item</th>
                   <th>Sole Proprietorship</th>
                   <th>Corporate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var propValue in ServicesInfo.Where(x => x.ServiceType == item).ToList())
                {
                <tr>
                    <td>@propValue.Description</td>
                    <td>
                        @if(propValue.OwnershipType == 1)
                        {
                            <span>@propValue.Fee</span>
                        }
                        else
                        {
                            
                        }
                    </td>
                    <td>
                        @if (propValue.OwnershipType == 2)
                        {
                           <span>@propValue.Fee</span>
                        }
                        else
                        {
                           <span></span>
                        }
                    </td>
                     <br>
                </tr>
                    }
            </tbody>
        </table>
        }
    </div>
    <div class="container  mt-4 text-end">
        <MudButton DisableElevation="true" OnClick="@(()=>GeneratePDF())" Variant="Variant.Filled" Class="mud-btn-color-black">Generate PDF</MudButton>
    </div>
</AuthorizeView>

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
      const arrayBuffer = await contentStreamReference.arrayBuffer();
      const blob = new Blob([arrayBuffer]);
      const url = URL.createObjectURL(blob);
      const anchorElement = document.createElement('a');
      anchorElement.href = url;
      anchorElement.download = fileName ?? '';
      anchorElement.click();
      anchorElement.remove();
      URL.revokeObjectURL(url);
    }
</script>